commitLogReader/.classpath
commitLogReader/.gitignore
commitLogReader/.project
commitLogReader/.settings/org.eclipse.jdt.core.prefs
commitLogReader/.settings/org.eclipse.m2e.core.prefs
commitLogWriter/.classpath
commitLogWriter/.gitignore
commitLogWriter/.project
commitLogWriter/.settings/org.eclipse.jdt.core.prefs
commitLogWriter/.settings/org.eclipse.m2e.core.prefs

